.board-container {

    .board {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 10px;

        .board-row {
            display: flex;
            column-gap: 10px;
        }
    }
}