.square {
    width: 100px;
    height: 100px;

    border: none;
    background-color: rgba(48, 53, 53, 0.7);

    border-radius: 5px;

    font-size: 38px;
    font-weight: bold;

    box-shadow: 0px 2px 5px rgba(0, 0, 0, .2);
    color: rgba(219, 219, 219, 0.8);

    cursor: pointer;
    transition: all .1s ease;

    &:active, &:focus {
        border: none;
        outline: none;
    }

    &:hover {
        // background-color: rgba(89, 94, 94, 0.7);
        box-shadow: 0px 2px 8px rgba(0, 0, 0, .6);
    }

    &.Xed {
        background-color: rgba(192, 28, 28, 0.7);
        cursor: default;
    }

    &.Oed {
        background-color: rgba(28, 192, 28, 0.7);
        cursor: default;
    }

    &.Xed, &.Oed {
        &:hover {
            box-shadow: 0px 2px 5px rgba(0, 0, 0, .2);
        }
    }
}

.square.X:hover:not(.Xed,.Oed) {    
    background-color: rgba(192, 28, 28, 0.4);
}

.square.O:hover:not(.Xed,.Oed) {    
    background-color: rgba(28, 192, 28, 0.4);
}